img{
  transition: 1.5s;
}
input:checked ~ img{
/* 1. nếu muốn biến mất khỏi giao diện */
/* display: none; */
/* 2. biến mất khỏi giao diện nhưng vẫn chiếm vị trí */
/* visibility: hidden; */
/* 3. làm mờ đi */
opacity: 0;
}