.text_h1{
    color: transparent;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    background-clip: text;
}
body{
    text-align: center;
}
table{
    margin: auto;
}