/* .box{
    width: 200px;
    height: 200px;
    border: 10px solid red;
}
.box1{
    margin-bottom: 50px;
}
.box2{
    margin-top: 70px;
} */
/* margin collapse không bị theo chiều ngang */
/* .item{
    background-color: yellow;
    border: 2px solid red;

}
.item1{
    display: block;
} */
.box_parent{
    background-color: yellow;
    height: 300px;
    margin-top: 60px;
    display: flex;
}
.box_child{
    background-color: red;
    height: 150px;
    margin-top: 50px;
    width: 100%;

}